html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Jost', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1470px;
}
.box90 {
  height: 90px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
.header.open .filter {
  transform: translateY(-74%);
}
.header.open .header__inner {
  height: 90px;
  transition: all 0.4s;
  cursor: pointer;
}
.header:hover .header__arrow {
  transition: all 0.4s;
  opacity: 1;
  animation: fadeInDown;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.header__arrow {
  width: 100%;
  font-size: 60px;
  height: 60px;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
}
.header__arrows.open ~ .filter {
  transform: translateY(49%);
  transition: all 0.4s;
  cursor: auto;
}
.header__arrows.open {
  transform: translateY(200px) rotate(180deg);
}
.header__arrows.open .header {
  height: 90px;
  transition: all 0.4s;
  cursor: pointer;
}
.header__inner {
  height: 90px;
  background-color: #e5e5e3;
  transition: all 0.4s;
  cursor: pointer;
}
.header__block {
  position: fixed;
  height: 90px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff 47%, rgba(2, 0, 36, 0) 67%);
  width: 100%;
  z-index: 90;
}
.header__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s;
}
.header__wrapper:hover .header__inner {
  height: 90px;
  transition: all 0.4s;
  cursor: pointer;
}
.header__link {
  font-size: 15px;
  font-weight: 700;
  color: #151515;
}
.header__logo {
  width: 117px;
  height: 22px;
  margin-right: 121px;
}
.header__number {
  width: 16px;
  height: 16px;
  background-color: #151515;
  border-radius: 50%;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: auto;
  margin-left: 4px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 1;
}
.header__cross {
  opacity: 0;
  visibility: hidden;
  width: 16px;
  height: 16px;
  display: block;
  color: red;
  position: absolute;
  right: 11px;
  top: -1px;
  font-size: 20px;
  z-index: 20;
}
.header__options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  position: relative;
}
.header__bag,
.header__user {
  margin-left: 10px;
}
.img {
  position: relative;
  display: inline-block;
}
.products__items {
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
}
.products__item {
  margin: 30px 20px;
  cursor: pointer;
  width: 200px;
  height: 365px;
  background-color: #ffffff;
  transition: 0.5s;
  transform: translate(0%, 0%);
  position: relative;
}
.products__item:hover {
  box-shadow: 15px 17px 29px 11px rgba(1, 10, 17, 0.2);
  transition: 0.5s;
  transform: translate(-2%, -2%);
}
.products__item:hover .products__price {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
.products__item:hover .products__add-to-cart {
  display: flex;
  margin-left: 3px;
  transition: all 0.5s;
  opacity: 1;
  visibility: visible;
}
.products__best {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
}
.products__best::before {
  content: '';
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url(../../images/kz_number_one_644.png);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products__star {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
}
.products__star::before {
  content: '';
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url(../../images/kz_star_line_102.png);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products__only {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  color: #111111;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
}
.products__only::before {
  content: '';
  position: absolute;
  left: 1px;
  top: -2px;
  background-image: url(../../images/kz_few_653.png);
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.products__descr {
  font-size: 13px;
  font-weight: 500;
  color: #454545;
  margin-bottom: 11px;
}
.products__price {
  font-size: 13px;
  font-weight: 700;
  color: #151515;
  display: block;
  opacity: 1;
  transition: all 0.5s;
}
.products__img {
  margin-bottom: 27px;
  width: 100%;
}
.products__add-to-cart {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}
.products__heart-icon {
  margin-left: auto;
}
.products__search-icon {
  margin: 0px 37px 0 -41px;
}
.products__add {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #151515;
}
.products__add:hover {
  border-bottom: 2px solid black;
}
.products__add:active {
  transform: scale(0.97);
}
.buttons {
  width: 20px;
  height: 50px;
  background-color: black;
  opacity: 0.6;
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.cart {
  background-color: white;
  width: 100%;
  height: 91%;
  position: fixed;
  transform: translateX(-100%);
  bottom: 0;
  transition: all 0.5s;
  padding-top: 70px;
  overflow: auto;
}
.cart__inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding: 30px 0;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
}
.cart__inner:hover {
  background-color: #e5e5e3;
  transition: all 0.5s;
}
.cart__inner:hover .cart__box {
  transform: translateX(-15%);
  transition: all 0.5s;
}
.cart__num {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 20px auto 0;
}
.cart__box {
  width: 100px;
  font-size: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(100%);
  transition: all 0.5s;
}
.cart__up,
.cart__down {
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.5s;
}
.cart__up:hover,
.cart__down:hover {
  opacity: 0.8;
  transition: all 0.5s;
}
.cart__up:active,
.cart__down:active {
  transform: scale(0.92);
  transition: 0.2s;
}
.cart__images {
  width: 60%;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.cart__link {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.cart__img {
  width: 100px;
  height: 100px;
}
.cart__price {
  font-size: 30px;
  margin-top: 10px;
  font-weight: 700;
}
.cart__name {
  font-size: 15px;
  margin-top: 10px;
  font-weight: 700;
}
.cart__options-size {
  display: flex;
}
.cart__size {
  width: 50px;
  height: 50px;
  color: black;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 700;
}
.cart__size:not(:last-child) {
  border-right: none;
}
.cart__size:hover {
  background-color: #cccccc;
  transition: all 0.5s;
}
.cart__size.active {
  border: 5px solid #4d4d4d;
  background-color: #999999;
  transition: none;
}
.fa-times {
  color: red;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.filter {
  transform: translateY(-500%);
  transition: all 0.4s;
  cursor: auto;
  position: fixed;
  width: 100%;
  top: 0;
}
.filter__items {
  height: 200px;
  width: 100%;
  background-color: red;
  display: flex;
}
.filter__color,
.filter__price,
.filter__size,
.filter__sort {
  width: 25%;
  background-color: #e5e5e3;
}
.filter__color {
  height: 100%;
  position: relative;
}
.filter__color::after {
  content: '';
  height: 100%;
  width: 8px;
  background-color: white;
  position: absolute;
  right: -4px;
  border-radius: 20px;
  z-index: 3;
}
.filter__size {
  position: relative;
}
.filter__size::after {
  content: '';
  height: 100%;
  width: 8px;
  background-color: white;
  position: absolute;
  right: -4px;
  border-radius: 20px;
  z-index: 3;
}
.filter__price {
  height: 100%;
  position: relative;
}
.filter__price::after {
  content: '';
  height: 100%;
  width: 8px;
  background-color: white;
  position: absolute;
  right: -4px;
  border-radius: 20px;
  z-index: 2;
}
.filter__sort {
  height: 100%;
}
.body__block {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 200;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
